@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <h3>@ViewBag.Masv</h3>

    <address>
        Nguyễn Minh Phương<br />
        Phát triển ứng dụng WEB với công nghệ .NET<br />
        <abbr title="Phone">Phone:</abbr>
        034 812 4474
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Student:</strong> <a href="mailto:van.convet@gmail.com">van.convet@gmai.com</a>
    </address>
</main>