@{
    ViewBag.Title = "NmpContact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Nguyễn minh Phương - K22cntt4 - 2210900141
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Student:</strong> <a href="mailto:van.convet@gmail.com">van.convet@gmail.com</a>
    </address>
</main>