@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.msv</h3>
    <h3>@ViewBag.fullname</h3>

    <address>
        Nguyễn Minh Phương - 2210900141 - K22CNTT4 - Đại Học Nguyễn Trãi
        </br>
        <abbr title="Phone">P:</abbr>
        0348124474
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gamil.com">chungtrinhj@gamil.com</a><br />
        <strong>Student:</strong> <a href="mailto:van.convet@gmail.com">van.convet@gmail.com</a>
    </address>
</main>