@{
    ViewBag.Title = "Nguyễn Minh Phương ";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>2210900141- Nguyễn Minh Phương </h3>

    <address>
       K22CNTT4- Môn lập trình ứng dụng web với ASP.NET MVC5
    </address>

    <address>
        <strong>Cá nhân: </strong>   <a href="mailto:van.convet@gmail.com">van.convet@gmail.com</a><br />
         <strong>Support:</strong> <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a>
    </address>
</main>