@{
    ViewBag.Title = "Nguyễn Minh Phương ";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Bài làm của Nguyễn Minh Phương </h3>

    <address>
       K22cntt4 - Môn lập trình ứng dụng web với công nghệ asp.net MVC5 
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com ">chungtrinhj@gmail.com </a><br />
        <strong>Students: </strong> <a href="mailto:van.convet@gmail.com">van.convet@gmail.com</a>
    </address>
</main>